{% extends 'nav.html' %}
{% block content %}
<div class="container-fluid">
    <div class="container p-5">
<table class=" table container-md table-dark mt-5 text-light table-striped  table-hover">
    <thead>
        <th>SL.NO</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
    {% for i in data %}
    <tr class="table-dark text-dark">
        {% for j in i %}
        <td>{{j}}</td>
        {% endfor %}
            <td><a style=" background-color: #7060dc;color:white;padding: 8px 20px;font-weight:bold;border-radius:5px;" href="{{url_for('edit',id=i[0])}}" >Edit</a></td>
            <td><a style="background:#7060dc;color:white;padding:8px 20px;border-radius:5px;font-weight:bold;" href="{{url_for('delete',id=i[0])}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
    
{% endblock content %}